{% extends "layout.html" %}

{% block heading %}
{{message}} {{username}}!
{% endblock %}


{% block body %}
	
</br>
<div style="text-align:center">
<form action="{{ url_for('index')}}" method="post">
    <button> Log out </button>
</form>
</div>
</br>

<div class="myDiv">
    <div style="text-align:center">
<form action="{{ url_for('results')}}" method="post">
    <input type="text" name="isbn" placeholder="ISBN">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="author" placeholder="Author">
    <button> Search </button>
</form>
</div>
</div>

<div id="map"></div>
	
<script>
var map = L.map('map').setView([62.83291, -95.91332], 4)
L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
maxZoom: 18,
id: 'mapbox/streets-v11',
tileSize: 512,
zoomOffset: -1,
accessToken: 'pk.eyJ1Ijoic2hhYWRlbnNzIiwiYSI6ImNrem0wbG41YjJkc3Qyd24yeGl2MTlkdXYifQ.6QUloRYZssJlCCzbwsXmgQ'
}).addTo(map);

axios.get(`https://api.weather.gc.ca/collections/climate-stations/items?f=json&lang=en-CA&skipGeometry=false`)
.then(response =>{
    //var markers = L.markerClusterGroup();
    //var oms = new OverlappingMarkerSpiderfier(map, keepSpiderfied=true);
    var popup = new L.Popup();
    let stations = response.data.features;
    console.log(`GET list stations`, stations);
    for(let i=0; i<stations.length-1;i++){
        //for each station from stations list
        let thisstation=stations[i].properties.CLIMATE_IDENTIFIER;
        let marker = L.marker([stations[i].geometry.coordinates[1], stations[i].geometry.coordinates[0]]);
        axios.get(`https://api.weather.gc.ca/collections/climate-hourly/items?f=json&lang=en-CA&skipGeometry=false&datetime=2022-04-02%2000%3A00%3A00%2F..&CLIMATE_IDENTIFIER=${thisstation}`)
        .then(response =>{
            let station=response.data.features;
            if (station.length > 0) {
                //hourly data for the specific station rn
                marker.bindPopup(`<b>hourly temp: </b>${station[station.length-1].properties.TEMP}<br><b>local date:</b> ${station[station.length-1].properties.LOCAL_DATE}`);
                //oms.addMarker(marker);
                //markers.addLayer(marker);
                map.addLayer(marker);
            } else {
                // add marker but no temp found...
                //marker.bindPopup(`<b>hourly temp: </b>${"hello"}<br>`);
                //oms.addMarker(marker);
                //markers.addLayer(marker);
                //map.addLayer(marker);

                //daily
                axios.get(`https://api.weather.gc.ca/collections/climate-daily/items?f=json&lang=en-CA&skipGeometry=false&CLIMATE_IDENTIFIER=${thisstation}&LOCAL_MONTH=04&LOCAL_YEAR=2022`)
                .then(response =>{
                    let Dstation=response.data.features;
                    marker.bindPopup(`<b>daily temp: </b>${Dstation[Dstation.length-1].properties.MEAN_TEMPERATURE}<br><b>local date:</b> ${Dstation[Dstation.length-1].properties.LOCAL_DATE}`);
                    //oms.addMarker(marker);
                  //markers.addLayer(marker);
                    map.addLayer(marker);


                })
                .catch(error => console.error(error));
            }
        })
        .catch(error => console.error(error));

        //get historical range (max min)value for that station


        //compare current with range


        //color

    }
})
.catch(error => console.error(error));
					
//map.addLayer(markers);
</script>


{% endblock %}